.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s ease;
}
.slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
}
.slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}
#app a {
    color: #212529;
    text-decoration: none;
}
#app a:hover {
    text-decoration: underline;
}